:root {
    --primary-color:#432E54;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 9px;
}


::-webkit-scrollbar-track {
    display: none;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-color);
}


::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}